
/*
	Copyright: (c) 2015 JoomlArtWork.com, http://joomlartwork.com/
*/

/* JAW Menu Light Style*/

#jawnav {background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #f5f5f5 100%) repeat scroll 0 0;  border: 1px solid #ddd;  color: #444; }
#jawnav > ul > li > a {color: #000000; border-right: 1px solid #ddd; font-size: 15px; }
#jawnav > ul > li:hover > a,
#jawnav > ul > li.active > a{ background-color: #f5f5f5;font-weight: bold;}
#jawnav > ul > li.has-sub > a::after { border-bottom: 1px solid #000000;  border-right: 1px solid #000000;}
#jawnav > ul > li.has-sub:hover > a::after { }
#jawnav span.inner {  background: #fff; border: 1px solid #ddd;color: #444; }
#jawnav ul ul li a { font-size: 13px; color: #000;}
#jawnav ul ul li:hover > a,
#jawnav ul ul li a:hover,
#jawnav ul ul li.current > a {}
#jawnav ul ul li.has-sub > a::after { border-bottom: 1px solid #000;  border-right: 1px solid #000;}
#jawnav.align-right ul ul li.has-sub > a::after { }
#jawnav ul ul li.has-sub:hover > a::after { }

#jawnav ul li a:hover{
  box-shadow: inset 0 -3px 0 0 #006937;
	transition: all .15s ease-in-out;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
#jawnav ul li,
#jawnav ul ul li,
#jawnav ul li:hover > ul > li {  border-top: 1px solid rgba(120, 120, 120, 0.15); }
#jawnav ul > li > a { font-size: 12px;  }
#jawnav ul ul li a { font-size: 12px; background: none; color: #000000;}
#jawnav ul ul li:hover > a,
#jawnav ul ul li a:hover {color: #000000;}
#jawnav #menu-button { font-size: 12px;color: #000000;}
#jawnav #menu-button::after { background: #000000;}
#jawnav #menu-button::before { border-top: 2px solid #000000; border-bottom: 2px solid #000000;}
#jawnav .submenu-button {border-left: 1px solid rgba(120, 120, 120, 0.15);}
#jawnav .submenu-button::after { background: #000000;}
#jawnav .submenu-button::before { background: #000000;}
#jawnav span.inner {  background: #fff; color: #444;}
}
